<div id="reportHeader">
  <div id="logo"><img src="img/sonarqube-24x100.png" alt="SonarQube"/></div>
  <div class="title">Issues Report</div>
  <div class="subtitle">SonarQube - date (todo)</div>
</div>

<div id="content">

<div id="summary">
  <table width="100%" class="data">
    <thead>
    <tr>
      <th align="center" width="33%"><span style="font-size:24px; font-weight: bold; color: red">{{newIssuesCount}}</span> <br/>New issues</th>
      <th align="center" width="33%"><span style="font-size:24px; font-weight: bold; color: green">{{resolvedIssuesCount}}</span> <br/> Resolved issues</th>
      <th align="center" width="33%"><span style="font-size:24px; font-weight: bold">{{allIssuesCount}}</span> <br/>Issues</th>
    </tr>
    </thead>
  </table>
</div>

<div class="container-fluid">

  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
      <label for="query.message">Search:</label><input id="query.message" ng-model="issueQuery.message" data-ng-false-value=""/> <br/>
      <label for="query.isnew" style="display:inline">New issues only:</label><input id="query.isnew" type="checkbox" ng-model="issueQuery.isNew" data-ng-false-value=""/> <br/>
      <label for="query.sort">Sort by:</label>
      <select id="query.sort" ng-model="orderProp">
        <option value="severity">Severity</option>
        <option value="status">Status</option>
      </select>
      <br/>
      <label for="query.group">Group by:</label>
      <select id="query.group" ng-model="groupByProp">
        <option value=""></option>
        <option value="component">Component</option>
        <option value="rule">Rule</option>
      </select>
      <br/>
      <label for="query.rule">Rule:</label>
      <select ng-model="issueQuery.rule">
        <option value="">All</option>
        <option ng-repeat="ruleItem in rules" value="{{ruleItem.rule.key}}" ng-selected="ruleItem.rule.key===issueQuery.rule">{{ruleItem.rule.name}} ({{ruleItem.count}})</option>
      </select>

      <br>
      Filtered {{filteredIssues.length}}

    </div>
    <div class="span10">
      <!--Body content-->

      <ul>
        <li ng-repeat="issue in filteredIssues | orderBy:[groupByProp, orderProp]" class="issue" ng-class-odd="'odd'" ng-class-even="'even'">
        <p class="message sev-{{issue.severity}}">
          {{issue.message}}</p>
          <ul>

          <li class="status">{{issue.status}}</li>
          <li class="component">{{issue.component}}</li>
          <li class="line">Line: {{issue.line}}</li>
          <li class="isnew isnew-{{issue.isNew}}" title="Is new: {{issue.isNew}}">&nbsp;</li>

          </ul>
        </li>
      </ul>

    </div>
  </div>
</div>
</div>
