<div id="reportHeader">
  <div id="logo"><img src="img/sonarqube-24x100.png" alt="SonarQube"/></div>
  <div class="title">Issues Report</div>
  <div class="subtitle">SonarQube - date (todo)</div>
</div>

<div id="content">

<div id="summary">
  <table width="100%" class="data">
    <thead>
    <tr>
      <th align="center" width="33%"><span style="font-size:24px; font-weight: bold; color: red">{{newIssuesCount}}</span> <br/>New issues</th>
      <th align="center" width="33%"><span style="font-size:24px; font-weight: bold; color: green">{{resolvedIssuesCount}}</span> <br/> Resolved issues</th>
      <th align="center" width="33%"><span style="font-size:24px; font-weight: bold">{{allIssuesCount}}</span> <br/>Issues</th>
    </tr>
    </thead>
  </table>
</div>

<div class="container-fluid">

  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="issueQuery.message" /> <br/>
      Is new: <input type="checkbox" ng-model="issueQuery.isNew"/> <br/>
      Sort by:
      <select ng-model="orderProp">
        <option value="isNew">Is new?</option>
        <option value="severity">Severity</option>
        <option value="status">Status</option>
      </select>

      <br>
      Filtered {{filteredIssues.length}}

    </div>
    <div class="span10">
      <!--Body content-->

      <ul>
        <li ng-repeat="issue in filteredIssues | orderBy:orderProp">
        <p style="font-size: large;">
          <img ng-src="http://nemo.sonarsource.org/images/priority/{{issue.severity}}.png" />
          {{issue.message}}</p>
          <ul>

          <li>Status: {{issue.status}}</li>
          <li>Component key: {{issue.component}}</li>
          <li>Line: {{issue.line}}</li>
          <li>Is new: {{issue.isNew}}</li>

          </ul>
        </li>
      </ul>

    </div>
  </div>
</div>
</div>
